fastapi
uvicorn
python-multipart
motor
streamlit-autorefresh
deep-translator
openai-whisper
transformers==4.38.2
pydantic
pydub
python-dotenv
streamlit
requests
yake
resemblyzer
spectralcluster
numpy<2.0.0
yt-dlp
gTTS
